<html><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="Description" content="信义仓运营数据">
<meta name="Keywords" content="信义仓运营数据">
<meta name="author" content="信义仓">
<title>信义仓运营数据</title>
<!--coolie-->
<link rel="stylesheet" type="text/css" href="../statics/css/css.css">
<!--/coolie-->
</head>
<body>
<div class="section load" id="load">
        <div class="load_in">
            <div class="load_num">
            <img style="width:40%" src="../statics/img/xyc.png">
            <img src="../statics/img/one.png">
            <img src="../statics/img/two.png">
            <span id="load_num">0%</span>
            </div>
            <b class="logo"></b>
        </div>
</div>
    <div class="section" id="section" style="display:none">
        <section class="sec sec00" >
            <div class="sec_in">
                <div class="nail"><b></b><b></b><b></b><b></b></div>
                <div class="xyc"><img src="../statics/img/four.png"></div>
                <div>
                    <div class="fn-fl five"><img src="../statics/img/five.png"></div>
                    <div class="fn-fr">
                    <div class="six"><img class="mytext" src="../statics/img/six.png"></div>
                    <div class="seven"><img class="mytext" src="../statics/img/seven.png"></div>     
                </div>
                <div class="fn-clear"></div>
                </div>
            </div>
            <b class="arrow"></b>
        </section>
         <section class="sec sec01" >
           <div class="sec_in">
               <div class="nail"><b></b><b></b><b></b><b></b><span class="num num1">1</span></div>
               <div class="eight"><img src="../statics/img/eight.png"></div>
               <div class="xyc_money">
                <img class="money" src="../statics/img/money.png"> 
               </div>
               <div class="h_earn">
                    <h2 id="operData1">888,888,888&nbsp;元</h2>
               </div>
           </div>
           <b class="arrow"></b>
       </section> 
       <section class="sec sec02" >
           <div class="sec_in">
               <div class="nail"><b></b><b></b><b></b><b></b><span class="num num2">2</span></div>
               <div class="eight"><img src="../statics/img/nine.png"></div>

               <div class="xyc_pig">
               <div class="dollar"><img class="dollar_an" src="../statics/img/dollar.png"></div>
               <div class="pig"><img src="../statics/img/pig.png"></div>
               
               </div>
               <div class="h_earn">
                    <h2 id="operData2">888,888,888&nbsp;元</h2>
               </div>
           </div>
           <b class="arrow"></b>
       </section> 
       <section class="sec sec03" >
           <div class="sec_in">
               <div class="nail"><b></b><b></b><b></b><b></b><span class="num num3">3</span></div>
               <div class="eight"><img src="../statics/img/ten.png"></div>

               <div class="clock_time">
               <div class="clock"><img  src="../statics/img/clock1.png"></div>
               <div class="pointer"><img class="watch_pointer" src="../statics/img/watch.png"></div>
               </div>
               <div class="h_clock">
                    <div class="fn-fl"><h2 id="operDataDay">640&nbsp;天</h2></div>
                    <div class="fn-fr"><h2 id="operDataTime">10:31</h2></div>
                </div>
           </div>
           <b class="arrow"></b>
       </section> 
       <section class="sec sec04" >
           <div class="sec_in">
               <div class="nail"><b></b><b></b><b></b><b></b><span class="num num4">4</span></div>
               <div class="eight"><img src="../statics/img/eleven.png"></div>
               <div class="word"><img class="mission" src="../statics/img/word.png"></div>
               <div class="twelve"><img src="../statics/img/twelve.png"></div>
           </div>
       </section> 
       
    </div>
  <div style="display:none;">
         <img class="test-dom" src="../statics/img/barchart_repeat.png">
         <img class="test-dom" src="../statics/img/bg_repeat.png">
         <img class="test-dom" src="../statics/img/bg_repeat.png">
         <img class="test-dom" src="../statics/img/clock1.png">
         <img class="test-dom" src="../statics/img/dollar.png">
         <img class="test-dom" src="../statics/img/eight.png">
         <img class="test-dom" src="../statics/img/eleven.png">
         <img class="test-dom" src="../statics/img/five.png">
         <img class="test-dom" src="../statics/img/four.png">
         <img class="test-dom" src="../statics/img/money.png">
         <img class="test-dom" src="../statics/img/nine.png">
         <img class="test-dom" src="../statics/img/one.png">
         <img class="test-dom" src="../statics/img/pig.png">
         <img class="test-dom" src="../statics/img/seven.png">
         <img class="test-dom" src="../statics/img/six.png">
         <img class="test-dom" src="../statics/img/sp.png">
         <img class="test-dom" src="../statics/img/ten.png">
         <img class="test-dom" src="../statics/img/three.png">
         <img class="test-dom" src="../statics/img/twelve.png">
         <img class="test-dom" src="../statics/img/two.png">
         <img class="test-dom" src="../statics/img/watch.png">
         <img class="test-dom" src="../statics/img/word.png">
         <img class="test-dom" src="../statics/img/xyc.png">
    </div>
<!-- coolie -->
<script type="text/javascript" src="../statics/js/app/rotate.js"></script>
<script type="text/javascript" src="../statics/js/app/motion.js"></script>
<script type="text/javascript" src="../statics/js/app/pagecount.min.js"></script>
<script type="text/javascript" src="../statics/js/app/common.js"></script>
<script type="text/javascript" src="../statics/js/app/main.js"></script>
<!-- /coolie -->
</body></html>